/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500&family=Work+Sans:wght@500;700;800&display=swap');

html, body,div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	color: #3D3D3D;
	cursor: default;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
	font-family: 'Work Sans' ;
	font-size: 14px;
	position: relative;
}
.min-width{
	margin: 0 auto;
	max-width: 1140px;

}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 2rem;
	padding: 5px 50px;
	font-size: 1rem;
}

/** Section header **/

header {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	font-size: 1.2em;
	padding: 0 25px;
  font-weight: 500;
}
nav li img {
  width: 20px;
}
header span {
  text-transform: uppercase;
  margin-top: 0.5rem;
	font-weight: 500;
}

header li:hover {
	color: black;
	font-weight: 900;
}
nav .btn-login {
	cursor:pointer;
}

/** Section introduction **/

#introduction {
	display: flex;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction figure p  {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction
.btn-modal{
	margin: 1rem 0;
	font-weight: 500;
}

#introduction article {
	flex: 1
}
#introduction article p {
	margin-bottom: 1em;
	max-width: 415px;
}
#introduction h2 {
	margin-bottom: 1rem;
}
#introduction p {
	margin-bottom: 0.5em;
}

/** Section portfolio **/

/*/ Icone /*/

.fa-regular{
	font-size: 1.1rem;
}
.btn-modal {
	display: none;
	cursor: pointer;
}
#edit-gallery {
	cursor: pointer;
	display: none;
}
.active-popUp {
	display: block !important;
}

/*/ Img /*/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
	height: 100%;
}

#portfolio {
	position: relative;
	z-index: 1;
}

/*/ First Pop Up  /*/

.background-opacity {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.1;
	top: 0;
	display: none;
}

#portfolio .my-project,  
#portfolio .btn-modal,
#edit-gallery p {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	gap: 2rem;
}
#portfolio .btn-modal,
#edit-gallery p {
	gap: 0.5rem;
}
#pop-up h3,
#new-pop-up h3{
	color: black;
	display: flex;
	justify-content: center;
	font-size: 1.6rem;
	margin: 2rem 0;
}
#pop-up,
#new-pop-up{
	position: absolute;
	background-color: white;
	border-radius: 10px;
	z-index: 2;
	top: 0.1%;
	display: none;
	top: 15%;
	width: 40%;
	left: 30%;
}

#closeBtn,
#closeBtn2 {
	position: absolute;
	right: 2rem;
	top: 0.7rem;
	cursor: pointer;
	font-size: 1.3rem;
	color: black;
}

#modalGallery {
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 10px;
	overflow: hidden;
	margin: auto;
}
#modalGallery figure {
	margin: 0 5px;
	position: relative;
}
#modalGallery img {
	width: 100%;
	height: 90%;
}

#modalGallery figcaption {
	display: flex;
	font-weight: 500;
	font-size: 0.8rem;
}
.edit-bar {
	content: "";
	display: block;
  width: 68%;
	margin: auto;
	margin-top: 3rem;
  height: 2px;
  background-color: rgb(217,217,217);
}

#pop-up .btn-add-post{
	display: block;
	cursor: pointer;
	margin: 2em auto;
	position: relative;
}
#delete-galery a {
	color: red;
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
} 
/*/ btn First Pop Up  /*/

.btn-class {
	position: absolute;
	top: 5px;
	right: 2px;
}
.btn-delete,
.btn-move {
	background: black;
	border-color: black;
	border-radius: 0%;
	padding: 1px;
	margin: 0 2px;
	width: 17px;
	height: 17px;
	cursor: pointer;
}
.btn-class .fa-regular,
.btn-class .fa-solid{
	display: flex;
	justify-content: center;
	font-size: 11px;
}
.btn-move {
	visibility: hidden;
}



/*/ Second Pop Up  /*/

.new-pop-up-icon {
	display: flex;
	justify-content: space-between;
	margin: 2rem;
	font-size: 1.2rem;
	cursor: pointer;
}
.new-post {
	width: 70%;
	margin: auto;
}
.add-new-post {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2rem 0;
}
.add-new-post .fa-solid{
	margin-top: 1rem;
	font-size: 3.5rem;
	color: #CBD6DC;
}
.new-post div {
	width: 100%;
	display: flex;
	justify-content: center;
}
#new-pop-up input,
#new-pop-up select{
box-shadow: white 2px 1px 6px 3px;
}

/*/ Upload files /*/

.drop-zone > div { /*/ la div = drop-zone*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	flex-direction: column;
}

.drop-zone .fa-solid {
	margin-bottom: 1rem;
}
.file-upload__button {
	color: #306685;
	background-color: #CBD6DC;
	border-color: #CBD6DC;
	margin: 0.5rem auto;
	padding: 0.4rem 2rem;
	cursor: pointer;
	border-radius: 15px;
}
.drop-zone__thumb {/*/ div creer en js */ 
  width: 180px;
  height: 100%;
	min-height: 180px;
  overflow: hidden;
  background-size: cover;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.file-upload {
	display: inline-flex;
	justify-content: center;
}
.file-upload__input {
	display: none;
}
.file-upload__button {
	cursor: pointer;
}

.add-new-post p{
	font-size: 0.7rem;
	margin-bottom: 1rem;
}
#new-pop-up form{
	display: flex;
	flex-direction: column;
}
#new-pop-up label{
	display: flex;
	align-content: flex-start
}

#new-pop-up .confirm-post {
	background-color: rgb(167,167,167);
	cursor: pointer;
}
#new-pop-up .confirm-post:hover {
	color: white;
	background-color: #1D6154;
}

#new-pop-up input,
#new-pop-up select {
	padding: 1rem;
	font-size: 1.1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-weight: 500;
}

/*/ Confirm Pop Up  /*/
.confirm-pop-up {
	position: absolute;
	border: 1px solid red;
	background-color: white;
	padding: 1rem;
	border-radius: 15px;
	top: 370px;
	display: none;
	z-index: 2;
}
.confirm-pop-up .fa-solid {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	font-size: 20px;
}
.confirm-pop-up h4 {
	margin-top: 3rem;
	font-size: 1.2rem;
}
.confirm-post {
	padding: 0.5rem;
	border: 1px solid transparent;
	cursor: pointer;
}






/** Section filterList **/

#filterList {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}
#filterList button{
	color: #1D6154;
	background-color: #FFFEF8;
	font-weight: 700;
	padding: 7px 20px;
	margin: 1rem 0 3rem;
	transition: 0.3s ease;
}

#filterList button:hover {
	color: white;
	background-color: #1D6154;
}
#filterList button:focus{
	background-color: #1D6154;
	color: white;
}

/** Section Contact **/

#contact {
	width: 33%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact p {
	font-size: 1.2em;
}
#contact form {
	text-align: left;
	margin:10px auto;
	display: flex;
	flex-direction: column;
	/* width: 70%; */
}

#contact input {
	height: 45px;
	font-size: 1.1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-weight: 500;
}
#contact label, 
#new-pop-up label{
	margin: 2em 0 0.6em 0;
	font-weight: 500;
  font-size: 15px;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
	
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
}

footer nav li {
	font-size: 1em;
	font-weight: 400;
}

